html,
body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Libre Baskerville', serif;
}

.bg-image {
    background-image: url('../img/cover-couple.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.mask {
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.5)
}

.none-decoration {
    text-decoration: none;
}

